@import "~reset-css";
@import "variables/colors";
@import "~@spacetabs/vue-components/src/assets/scss/themes/default.theme";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// stylelint-disable selector-max-type
body,
html {
  width: 100%;
  height: 100%;
}
